<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="admin">JakduK Admin Page</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="home" target="_self">Go JakduK</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row" ui-view></div>
</div>
{{#CHUNK 'css'}}
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="/bower_components/Bootflat/bootflat/css/bootflat.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/jakduk/css/jakduk.css">
  <link rel="stylesheet" href="/jakduk/css/admin.css">
{{/CHUNK}}
{{#CHUNK 'js'}}
  <script type="text/javascript">
    require(['angular', 'jakduk', 'admin'], function (angular) {
      angular.module("jakdukApp", [
        'jakdukCommon', 'jakdukAdmin', 'ui.bootstrap', 'ngAnimate'
      ]).constant('Config', {
        apiServerUrl: '{{apiServerUrl}}'
      });
      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}
