<div class="container-fluid">

  <div class="page-header">
    <h4>Write JakduSchedule</h4>
  </div>

  <form name="jakduScheduleWrite" ng-submit="ctrl.submit()">
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label">DATE</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{%ctrl.format%}" ng-model="ctrl.mytime" is-open="ctrl.status.opened" min-date="ctrl.minDate" max-date="ctrl.maxDate"
            datepicker-options="ctrl.dateOptions" date-disabled="ctrl.disabled(date, mode)" required
            close-text="Close">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="ctrl.open($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
            </span>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="control-label">TIME</label>
        <uib-timepicker ng-model="ctrl.mytime" ng-change="ctrl.changed()" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian" show-spinners="false"></uib-timepicker>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <input id="date" class="form-control" ng-model="ctrl.mytime">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="home" class="control-label">HOME TEAM</label>
          <select id="home" class="form-control" ng-model="ctrl.home">
            <option ng-repeat="club in ctrl.footballClubs" value="{%club.id%}" ng-bind="club.name"></option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="away" class="control-label">AWAY TEAM</label>
          <select id="away" class="form-control" ng-model="ctrl.away">
            <option ng-repeat="club in ctrl.footballClubs" value="{%club.id%}" ng-bind="club.name"></option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="groupSeq" class="control-label">GROUP SEQ</label>
          <input type="number" id="groupSeq" class="form-control" placeholder="GROUP SEQ" ng-model="ctrl.groupSeq">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="competition" class="control-label">COMPETITION</label>
          <select id="competition" class="form-control" ng-model="ctrl.competition">
            <option ng-repeat="competition in ctrl.competitions" value="{%competition.id%}" ng-bind="competition.code"></option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <label class="control-label">FULL TIME SCORE</label>
          <div class="row">
            <div class="col-sm-6">
              <input type="number" id="homeFullTime" class="form-control" placeholder="HOME"
                ng-model="ctrl.homeFullTime">
            </div>
            <div class="col-sm-6">
              <input type="number" id="awayFullTime" class="form-control" placeholder="AWAY" ng-model="ctrl.awayFullTime">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="control-label">OVER TIME SCORE</label>
          <div class="row">
            <div class="col-sm-6">
              <input type="number" id="homeOverTime" class="form-control" placeholder="HOME" ng-model="ctrl.homeOverTime">
            </div>
            <div class="col-sm-6">
              <input type="number" id="awayOverTime" class="form-control" placeholder="AWAY" ng-model="ctrl.awayOverTime">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="control-label">PENALTY SHOOTOUT SCORE</label>
          <div class="row">
            <div class="col-sm-6">
              <input type="number" id="homePenaltyShootout" class="form-control" placeholder="HOME" ng-model="ctrl.homePenaltyShootout">
            </div>
            <div class="col-sm-6">
              <input type="number" id="awayPenaltyShootout" class="form-control" placeholder="AWAY" ng-model="ctrl.awayPenaltyShootout">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="timeUp" ng-model="ctrl.timeUp"> isTimeUp?
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-default">
    <button type="button" class="btn btn-default" ng-click="ctrl.confirmDelete();" ng-if="ctrl.schedule">
      <i class="fa fa-trash-o"></i>
    </button>
  </form>
</div>
