<div class="container-fluid">
  <div class="page-header">
    <h4>Thumbnail Size Write.</h4>
  </div>

  <form name="thumbnailSizeWrite" ng-submit="ctrl.submit()" novalidate>
    <p>
      IN RESOURCE.
      WIDTH : <span ng-bind="ctrl.resWidth"></span>,
      HEIGHT : <span ng-bind="ctrl.resHeight"></span>
    </p>

    <div class="form-group">
      <label>WIDTH</label>
      <input id="width" name="width" class="form-control" placeholder="width" ng-model="ctrl.width">
    </div>

    <div class="form-group">
      <label>HEIGHT</label>
      <input id="height" name="height" class="form-control" placeholder="height" ng-model="ctrl.height">
    </div>

    <div class="form-group">
      <label for="galleryId" class="control-label">GALLERY ID</label>
      <input name="galleryId" id="galleryId" class="form-control" placeholder="Gallery ID" ng-model="ctrl.galleryId">
    </div>

    <input type="submit" class="btn btn-default">
  </form>
</div>