<div class="container-fluid">
  <div class="page-header">
    <h4>Write Competition</h4>
  </div>

  <form name="competitionWrite" ng-submit="ctrl.submit()">
    <div class="form-group">
      <label for="league" class="control-label">LEAGUE</label>
      <select id="league" name="league" class="form-control" ng-model="ctrl.code">
        <option value="KL">K League</option>
        <option value="KL2">K League 1</option>
        <option value="KL2">K LEAGUE 2</option>
        <option value="FRIENDLY">Friendly</option>
      </select>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="shortNameKr" class="control-label">KOR SHORT NAME</label>
          <input id="shortNameKr" name="shortNameKr" class="form-control" placeholder="KOR shortName" ng-model="ctrl.shortNameKr" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="fullNameKr" class="control-label">KOR FULL NAME</label>
          <input id="fullNameKr" name="fullNameKr" class="form-control" placeholder="KOR fullName" ng-model="ctrl.fullNameKr" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="shortNameEn" class="control-label">ENG SHORT NAME</label>
          <input id="shortNameEn" name="shortNameEn" class="form-control" placeholder="ENG shortName" ng-model="ctrl.shortNameEn" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="fullNameEn" class="control-label">ENG FULL NAME</label>
          <input id="fullNameEn" name="fullNameEn" class="form-control" placeholder="ENG fullName" ng-model="ctrl.fullNameEn" required>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-default">
    <button type="button" class="btn btn-default" ng-click="ctrl.confirmDelete();" ng-if="ctrl.competition">
      <i class="fa fa-trash-o"></i> 삭제
    </button>
  </form>
</div>
