<div class="container-fluid">

  <div class="page-header">
    <h4>Write JakduScheduleGroup</h4>
  </div>

  <form name="jakduScheduleGroupWrite" ng-submit="ctrl.submit()">
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label">OPEN DATE</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{%format%}" ng-model="ctrl.openDate" is-open="ctrl.status.opened" min-date="ctrl.minDate" max-date="ctrl.maxDate"
            datepicker-options="ctrl.dateOptions" date-disabled="ctrl.disabled(date, mode)" required close-text="Close">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="ctrl.open($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="control-label">TIME</label>
        <uib-timepicker ng-model="ctrl.openDate" ng-change="ctrl.changed()" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian" show-spinners="false"></uib-timepicker>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <input id="openDate" ng-model="ctrl.openDate" class="form-control">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="seq" class="control-label">SEQ</label>
          <input id="seq" class="form-control disable" placeholder="SEQ" ng-disabled="ctrl.nextSeq" ng-model="ctrl.seq">
          <div class="container-fluid">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="nextSeq" ng-model="ctrl.nextSeq"> nextSeq?
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="state" class="control-label">STATE</label>
          <select id="state" class="form-control" ng-model="ctrl.state">
            <option value="SCHEDULE">SCHEDULE</option>
            <option value="STANDBY">STANDBY</option>
            <option value="PLAYING">PLAYING</option>
            <option value="TIMEUP">TIMEUP</option>
          </select>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-default">
    <button type="button" class="btn btn-default" ng-click="ctrl.confirmDelete();" ng-if="ctrl.scheduleGroup">
      <i class="fa fa-trash-o"></i>
    </button>
  </form>
</div>
