<button type="button" class="btn-u btn-brd rounded" {{#if isAuthenticated}}onclick="window.location='/board/free/write'"{{else}}onclick="Jakduk.needLogin('{{TRANSLATION "board.msg.need.login.for.write"}}');"{{/if}} tooltip-popup-close-delay="300" uib-tooltip="{{TRANSLATION "board.write"}}">
  <span aria-hidden="true" class="icon-pencil"></span>
</button>
