<script type="text/javascript">
  function needLogin() {
    if (confirm('{{TRANSLATION "board.msg.need.login.for.write"}}')) {
      location.href = '/board/free/write';
    }
  }
</script>

<button type="button" class="btn-u btn-brd rounded" {{#if isAuthenticated}}onclick="location.href='/board/free/write'"{{else}}onclick="needLogin();"{{/if}} tooltip-popup-close-delay='300' uib-tooltip="{{TRANSLATION "board.write"}}">
  <span aria-hidden="true" class="icon-pencil"></span>
</button>