<div>
  <div class="ui container sticky">
    <div class="ui fluid container">
      <div class="ui vertical blue inverted fluid menu">
        <router-link to="home" class="item computer only row">{{$t('common.home')}}</router-link>
        <router-link to="board" class="item computer only row">{{$t('board')}}</router-link>
        <a href="/gallery" class="item computer only row">{{$t('gallery')}}</a>
        <a href="/stats" class="item computer only row">{{$t('stats')}}</a>
        <a href="/jakdu" class="item computer only row">{{$t('jakdu.write')}}</a>
      </div>
    </div>
  </div>
</div>
