<div class="ui padded grid">
  <!-- phone navbar -->
  <div class="mobile tablet only row">
    <div class="column">
      <div class="ui borderless inverted blue fixed menu">
        <div class="ui container">
          <button id="btnSidebarToggle" class="ui icon blue button">
            <i class="content icon"></i>
          </button>
          <a href="/" class="item">KLEAGUE JAKDU KING</a>
          <div class="right menu">
            <a class="logon icon item" v-if="isAuthenticated">
              <i class="user icon"></i>
              <profile-menu></profile-menu>
            </a>
            <a class="icon item" href="/login" v-else>
              <i class="sign in icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- desktop navbar -->
  <div class="computer only row">
    <div class="column">
      <div class="ui borderless inverted blue fixed menu">
        <div class="ui container">
          <a href="/" class="header item">KLEAGUE JAKDU KING</a>
          <div class="right menu">
            <div class="ui simple dropdown item">
              <i class="globe icon"></i> {{$t('common.language')}}
              <i class="dropdown icon"></i>
              <div class="menu">
                <a v-bind:href="changeLocale('ko')" class="item"><i class="kr flag"></i> {{$t('common.language.korean')}}</a>
                <a v-bind:href="changeLocale('en')" class="item"><i class="us flag"></i> {{$t('common.language.english')}}</a>
              </div>
            </div>
            <a class="logon icon item" v-if="isAuthenticated">
              <i class="user icon"></i>
              <profile-menu></profile-menu>
            </a>
            <a href="/login" class="item" v-else>{{$t('common.login')}}</a>
            <search-input class="ui search item"></search-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
