<div>
  <div class="ui grid">
    <div class="sixteen wide mobile ten wide tablet eleven wide computer column">
      <!-- 공지 -->
      <div id="notice" class="ui blue segment">
        <div class="ui items link">
          <div class="item" v-for="desc in homeDescription.desc" v-html="desc"></div>
        </div>
      </div>

      <!-- 최신글 -->
      <div id="latest_posts" class="ui blue segment">
        <div class="ui link divided items">
          <div class="item" v-for="post in posts">
            <div class="content">
              <a v-bind:href="'/board/free/' + post.seq" class="header" v-bind:class="{'ui disabled': post.status.delete}">
                {{post.status.delete ? $t('board.msg.deleted') : post.subject}}
              </a>
              <div class="extra" v-if="post.writer">
                {{post.writer.username}} &middot; {{post.id | postRegDate('LL')}}
              </div>
            </div>
          </div>
          <div class="item" v-for="comment in comments">
            <div class="content">
              <a v-bind:href="'/board/free/' + comment.boardItem.seq" class="header">{{comment.content}}</a>
              <div class="extra" v-if="comment.writer">{{comment.writer.username}} &middot; {{comment.id | postRegDate('LL')}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide mobile six wide tablet five wide computer column">
      <div id="latestGallery" class="ui blue segment">
        <!-- 최신 사진 -->
        <h4 class="ui dividing header">
          <a href="/gallery">{{$t('home.pictures.latest')}}</a>
        </h4>
        <div class="swiper-container" style="overflow: hidden;">
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="image in galleries" style="float: left;" data-swiper-autoplay="3000">
              <a v-bind:href="'/gallery/' + image.id">
                <div class="ui fluid rounded image">
                  <img class="swiper-lazy" v-bind:data-src="image.thumbnailUrl">
                </div>
                <h5 v-if="image.writer">{{image.writer.username}} &middot; <i class="eye icon"></i> {{image.views}}</h5>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="ui blue segment">
        <h4 class="ui dividing header">{{$t('popular.search.words')}}</h4>
        <a v-if="popularSearchWords" v-bind:class="'ui ' + indexedColor(index) + ' label'" v-bind:href="search(word.key)" v-for="(word, index) in popularSearchWords" v-bind:key="word.key">{{word.key}}</a>
        <p v-else>{{$t('failed.loading')}}</p>
      </div>
      <div class="ui blue segment">
        <h4 class="ui dividing header">{{$t('home.members.registered.latest')}}</h4>
        <div class="ui middle aligned list">
          <div class="item" v-for="(user, index) in users">
            <i v-bind:class="'user big ' + indexedColor(index) + ' icon'"></i>
            <div class="content">
              <div class="header">
                <strong>{{user.username}}</strong>
              </div>
              <div class="description">
                <p>{{user.about}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="encyclopedia" class="ui blue segment">
        <h4 class="ui dividing header">{{$t('home.encyclopedia')}}</h4>
        <div v-if="encyclopedia" v-tooltip v-bind:data-content="encyclopedia.content">
          <strong>{{encyclopedia.subject}}</strong>
          <p v-if="encyclopedia.content">{{encyclopediaContent}}</p>
        </div>
        <p v-else>{{$t('failed.loading')}}</p>
      </div>
    </div>
  </div>
</div>
