<div class="container-fluid">
	<div class="page-header">
		<h4>Write AttendanceClub.</h4>
	</div>
	<form name="attendanceClubWrite" ng-submit="ctrl.submit()" novalidate>
		<div class="form-group">
			<label for="origin" class="control-label">ORIGIN CLUB</label>
			<select id="origin" name="origin" class="form-control" ng-model="ctrl.origin">
				<option value="{%club.id%}" ng-bind="club.name" ng-repeat="club in ctrl.footballClubs"></option>
			</select>
		</div>

		<div class="form-group">
			<label for="season" class="control-label">SEASON</label>
			<input type="number" id="season" name="season" class="form-control" placeholder="Season" ng-model="ctrl.season">
		</div>

		<div class="form-group">
			<label for="league" class="control-label">LEAGUE</label>
			<select id="league" name="league" class="form-control" ng-model="ctrl.league">
				<option value="KL">K LEAGUE</option>
				<option value="KLCL">K LEAGUE CLASSIC</option>
				<option value="KLCH">K LEAGUE CHALLENGE</option>
			</select>
		</div>

		<div class="form-group">
			<label for="games" class="control-label">GAMES</label>
			<input type="number" id="games" name="games" class="form-control" placeholder="Games" ng-model="ctrl.games" ng-blur="ctrl.calcAve()">
		</div>

		<div class="form-group">
			<label for="total" class="control-label">TOTAL</label>
			<input type="number" id="total" name="total" class="form-control" placeholder="Total" ng-model="ctrl.total" ng-blur="ctrl.calcAve()">
		</div>

		<div class="form-group">
			<label for="average" class="control-label">AVERAGE</label>
			<input type="number" id="average" name="average" class="form-control" placeholder="Average" ng-model="ctrl.average" readonly>
		</div>

		<input type="submit" class="btn btn-default">
	</form>
</div>
