<div class="wrapper">

  {{> header_navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/home">{{TRANSLATION "common.error"}}</a></h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <div class="container content">
    <h1 id="banner">Unauthorized</h1>
    <hr/>
    <p class="message">Access denied!</p>
  </div>

  {{> footer}}
</div>