<div class="wrapper">

  {{> header_navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/about/intro">{{TRANSLATION "about.site"}}</a></h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!--=== Content Part ===-->
  <div class="container content">
  {{#if (EQ locale 'ko')}}
    {{> about_ko}}
  {{else}}
    {{> about_en}}
  {{/if}}
  </div>

  {{> footer}}

</div><!-- /.wrapper -->

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/unify/assets/plugins/back-to-top.js"></script>
<script src="/unify/assets/plugins/smoothScroll.js"></script>
<script src="/unify/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/unify/assets/js/app.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/jakduk/js/jakduk.js"></script>

<script src="/bower_components/angular-i18n/angular-locale_{{locale}}.js"></script>

<script type="text/javascript">
  angular.module("jakdukApp", ['jakdukCommon']);
  angular.element(document).ready(function () {
    App.init();
  });
</script>
