<div class="wrapper">

  {{> navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left">{{{TITLE title}}}</h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <div class="container content">
    <h1 id="banner" class="text-center">{{TRANSLATION "msg.coming.soon"}}</h1>
  </div>

  {{> footer}}

</div>
{{#CHUNK 'js'}}
  <script>
    require(['angular', 'jakduk'], function (angular) {
      angular.module('jakdukApp', ['jakdukCommon']);
      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}
