<div :style="loading ? {overflow: 'hidden', height: '100%'} : {}" id="root">

  <!-- phone sidenav-->
  <phone-sidenav id="phoneSidenav" class="ui left inverted blue vertical accordion menu sidebar"></phone-sidenav>

  <!-- navbar -->
  <navbar id="navbar" class="ui fixed inverted blue menu"></navbar>

  <div id="main" class="pusher">
    <div class="ui container">
      <div class="ui grid">
        <!-- desktop sidenav -->
        <sidenav class="three wide computer only column"></sidenav>

        <div class="sixteen wide mobile sixteen wide tablet thirteen wide computer column">
          <router-view></router-view>

          <div v-if="loading" class="full-loader">
            <div class="ui active loader massive indeterminate"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <site-footer class="ui container"></site-footer>
  </div>

  <div v-if="!appLoaded && loading" class="full-loader">
    <div class="ui active loader massive indeterminate"></div>
  </div>
</div>
