<div :style="loading ? {overflow: 'hidden', height: '100%'} : {}" :class="{'is-loading': loading}" id="main" class="pusher">
  <div class="ui container">
    <div class="ui grid">
      <div id="content" class="sixteen wide mobile sixteen wide tablet thirteen wide computer column">
        <router-view></router-view>
        <div v-if="loading" class="full-fill-loader">
          <div class="ui active large indeterminate text loader">{{$t('common.loading')}}</div>
        </div>
      </div>

      <!-- desktop sidenav -->
      <sidenav class="three wide computer only column"></sidenav>
    </div>
  </div>

  <!-- footer -->
  <site-footer class="ui container"></site-footer>

  <div v-if="!appLoaded && loading" class="full-fill-loader">
    <div class="ui active large indeterminate text loader">{{$t('common.loading')}}</div>
  </div>
</div>
